@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

*{
    margin: 0;
    padding: 0;
    list-style: none;
    
}

body{
    height: 100vh;
    background-color: aliceblue;

    
}

nav{
background-color: rgb(184, 211, 214);

font-family: 'Roboto', sans-serif;



}
 ul{
    display: flex;

justify-content: end;
gap: 30px;
padding: 10px; 
 }
.nabar{
    background-color: rgb(184, 211, 214);
    
    font-family: 'Roboto', sans-serif;
    
    
    }